*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    
}
html{scroll-behavior: smooth;}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: url(Images/Background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
}
Nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.logo{
    width: 85px;
    cursor: pointer;
}
nav ul{
    list-style: none;
    width: 85%;
    text-align: right;
    padding-right: 0px;
}
nav ul li{
    display: inline-block;
    margin:0px 25px;
}
nav ul li a{
    color: #464545;
    text-decoration: none;
    font-family: 'chalkduster';
    font-weight: 'lighter';
    text-align: center;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;

    flex-direction: column;
    
  }
  main{
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }
  .mySkills{
    text-align: center;
    background-color: #191918;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px #efefef;
    margin-bottom: 20px;
  }
    .myWork {
      text-align: center;
      background-color: #191918;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 0 10px  #efefef;
      margin-bottom: 20px;
    }
    .flexContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
      }
  
      .flexChild {
        text-align: center;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 3px;
        background-color: #ebaf65;
      }
      
      .LocalSocialImg {
        width: 600px;
        height: 500px;
      }
      .Project2{
        display: flex;
        
      }
      .CSAComputerImg {
        width: 1000px;
        height: 550px;
        flex: 5.33%;
        padding: 1px;
       
      }
      .CSAMobile{
        width: 375px;
        height: 600px;
        flex: 5.33%;
        padding: 1px;
      }
      .Project3 {
        display: flex;
        
      }
      .ESDesktop {
        width: 1500px;
        height: 600px;
        flex: 5.33%;
        padding: 1px;
      }
      .ESMobile{
        width: 375px;
        height: 600px;
        flex: 5.33%;
        padding: 1px;
      }
  
  
      h1 {
        font-family: 'chalkduster';
        color: #fffdfd;
        font-size:32px;
      }
      h3 {
        font-family: 'chalkduster';
        color: #fffdfd;
        font-size:20px;
        padding: 2px;
      }
  
      h4 {
        font-family: 'chalkduster';
        color: #fffdfd;
        font-size:25px;
      }
  
      p {
        font-family:"Georgia";
        color: #fffdfd;
      }
      .bold {
        font-weight: bold;
        color:#c87714;
      }
      .icons{
        width:100px;
        height: 100px;
      }
      .Projectbutton {
        background-color: #c87714;
        color: #fff;
        padding: 10px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      .LPB{
        padding: 10px;
      }
      .Subheader{
        padding: 15px;
      }
      button:hover {
        background-color: #f3a654;
      }
      <!-- My Work Section Constructed using CSS Grid -->
      .workGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 20px;
        align-items:center
      }
      .footer{
        margin-top: 150px;
        width: 100%;
        
        padding: 100px 20%;
        background-image: url('Images/footer3.png');
        background-size: cover;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        Padding: 50;
         color:#efefef;
        
        background-attachment: scroll;
        
        
       
       }
       .footer div{
           text-align: center;
           margin: 20px;
           padding-bottom: 25px;
       }
    
           
          
       
       .col-2{
           flex-grow: 2;
       }
       .footer div h3{
           font-weight:800;
           margin-bottom: 15px;
           letter-spacing: 1px;
           font-family: 'chalkduster';
           font-weight: lighter;
           color: #efefef;
       }
       .col-1 a{
           display: block;
           text-decoration: none;
           color: #efefef;
           margin-bottom: 5px;
           font-weight: lighter;
           font-size: small;
           font-family: 'chalkduster';
       
       }
       .col-3 p{
           font-family: 'chalkduster';
           font-weight: lighter;
           color: #efefef;
       }
       form input{
           width: 400px;
           height: 45px;
           border-radius: 50px;
           text-align: center;
           margin-top: 20px;
           margin-bottom: 40px;
           outline: none;
           font-family: 'chalkduster';
       }
       form button{
           background: transparent;
           border:2px solid #fff;
           color: #fff;
           border-radius:50px;
           padding: 10px 30px; 
           font-size: 15px;
           font-family: 'chalkduster';
       }
       .social-icons{
           margin-top: 0px;
       }
       .social-icons i{
           font-size:22px;
           margin:5px;
           cursor: pointer;
       
       }
       @media screen and (max-width: 600px) {
        .flexContainer {
            flex-direction: column;
        }
    
        .flexChild {
            width: 100%;
        }
    
        .workGrid {
            grid-template-areas:
                "header header"
                "main main"
                "footer footer";
            grid-template-rows:  300px 50px 300px;
            grid-template-columns: 2fr 2fr 2fr;
        }
    }

  
